.formulario{
    background-color:map-get($colores, color-secundario);
    color: map-get($colores, color-principal);
    display: flex;
    width: $tamanio-medio;

    @include mediaQuery(mobile){
        background-color: blue;
    }

    @include mediaQuery(tablet){
        background-color: red;
    }

}